<div *ngIf="!IssignIn">
  <h2>SignUp</h2>
  <input type=" text " [(ngModel)]="emailsignup">
  <input type=" text " [(ngModel)]="passwordsignup">
  <button (click)="onsignup(emailsignup,passwordsignup)">SignUp</button>

</div>
<hr>
<div *ngIf="!IssignIn">
  <h2>SignIn</h2>
  <input type=" text" [(ngModel)]="emailsignin">
  <input type=" text " [(ngModel)]="passwordsignin">
  <button (click)="onsignin(emailsignin,passwordsignin)">SignIn</button>

</div>

<app-home  *ngIf="IssignIn" (isLogout)="handlelogout()"></app-home>